@import '../_variables.scss';

.buffer {
  padding: 3rem;
}

.welcome-banner {
  text-align: center;
  padding-top: 3rem;

  > h1 {
    font-size: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
  }

  > h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.account-summary {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;

  > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $primary-green;
    box-shadow: 0px 0px 5px $box-shadow-color;
    padding: 2rem;
    color: white;
    width: 60%;
    max-width: 225px;
    margin: 1rem;

    > h2 {
      text-align: center;
      font-weight: 100;
      margin: 0;
      margin-bottom: 1rem;
    }

    > label {
      font-size: 2rem;
    }
  }
}

.summary-divider {
  width: 95vw;
  background-color: $primary-green;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.details-section {
  display: flex;

  > .account-section {
    width: 35vw;

    > .account-grid {
      background-color: white;
    }

    > .credit-card-grid {
      background-color: white;
    }
  }

  > .detail-divider {
    height: auto;
    width: 2px;
    background-color: $primary-green;
  }

  > .transaction-section {
    width: 65vw;

    > .expense-section {
      background-color: white;

      .expense-grid {
        display: block;
      }

      .expense-grid-vertical {
        display: none;
      }
    }

    > .revenue-section {
      background-color: white;

      .revenue-grid {
        display: block;
      }

      .revenue-grid-vertical {
        display: none;
      }
    }
  }

  > section > div {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 5px $box-shadow-color;
  }
}

.expense-header {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

@media (max-width: 1200px) {
  .details-section {
    flex-direction: column;

    > .account-section {
      width: 100vw;
      display: flex;
      justify-content: center;

      > div {
        width: 50vw;
      }

      > .account-grid {
        margin-right: 1rem;
      }

      > .credit-card-grid {
        margin-left: 1rem;
      }
    }

    > .detail-divider {
      height: 2px;
      width: 95vw;
      margin-left: auto;
      margin-right: auto;
    }

    > .transaction-section {
      width: 100vw;
    }
  }
}

@media (max-width: 1000px) {
  .account-summary {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 750px) {
  .details-section {
    > .account-section {
      flex-direction: column;

      > .account-grid {
        margin-left: 3rem;
        margin-right: 3rem;
        width: auto;
      }

      > .credit-card-grid {
        margin-left: 3rem;
        margin-right: 3rem;
        width: auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .details-section {
    > .transaction-section {
      > .expense-section {
        .expense-grid {
          display: none;
        }

        .expense-grid-vertical {
          display: block;
        }
      }

      > .revenue-section {
        .revenue-grid {
          display: none;
        }

        .revenue-grid-vertical {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .account-summary {
    grid-template-columns: 100%;
  }

  .details-section {
    > .account-section {
      flex-direction: column;

      > .account-grid {
        margin-left: 1rem;
        margin-right: 1rem;
      }

      > .credit-card-grid {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }

  .transaction-section {
    > .expense-section {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    > .revenue-section {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
