@import '../_variables.scss';

.recurring-transactions-buffer {
  padding: 2rem;
}

.recurring-transactions-display {
  margin-top: 2rem;
  box-shadow: 0px 0px 5px $box-shadow-color;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 2rem;
  background-color: white;

  > h2 {
    margin-top: 0;
    text-align: center;
  }

  > .recurring-trans-grid {
    display: block;
  }

  > .recurring-trans-grid-vertical {
    display: none;
  }
}

@media (max-width: 1100px) {
  .recurring-transactions-display {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }
}

@media (max-width: 900px) {
  .recurring-transactions-display {
    margin-left: auto;
    margin-right: auto;
    width: 400px;

    > .recurring-trans-grid {
      display: none;
    }

    > .recurring-trans-grid-vertical {
      display: block;
    }
  }
}

@media (max-width: 500px) {
  .recurring-transactions-display {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }
}
