@import '../_variables.scss';

.revenue-buffer {
  padding: 3rem;
}

.revenue-entry-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px $box-shadow-color;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 2rem;
  background-color: white;

  > h2 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  > h4 {
    text-align: center;
  }

  > .setup-message {
    text-align: center;
  }

  > .setup-message-hidden {
    display: none;
  }

  > .complete-setup-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.35rem;
    height: 25px;
    width: 120px;
    border-radius: 5px;
    background-color: $primary-green;
    color: white;
    border-width: 0;
  }

  > .complete-setup-button-disabled {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.35rem;
    height: 25px;
    width: 120px;
    border-radius: 5px;
    background-color: darkgray;
    color: gray;
    border-width: 0;
    pointer-events: none;
  }
}

.revenue-input-grid {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  justify-items: center;

  > div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    > label {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }

    > input {
      width: 147px;
      height: 19px;
      margin: 0;
      padding: 0;
      border: 1px solid #a9a9a9;
      border-radius: 5px;
      background-color: white;
    }

    > select {
      width: 151px;
      height: 21px;
      margin: 0;
      padding: 0;
      border-radius: 5px;
      background-color: white;
    }

    > .revenue-category-disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    > .bad-input {
      border-color: red;
      box-shadow: 0px 0px 3px red;
    }
  }

  > button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.35rem;
    height: 25px;
    width: 120px;
    border-radius: 5px;
    background-color: $primary-green;
    color: white;
    border-width: 0;
  }
}

.recurring-trans-message {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.5rem;
}

.add-revenue-error-message {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
}

.revenue-display {
  margin-top: 2rem;
  box-shadow: 0px 0px 5px $box-shadow-color;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 2rem;
  background-color: white;

  > h4 {
    margin-top: 0;
    text-align: center;
  }

  > .revenue-grid {
    display: block;
  }

  > .revenue-grid-vertical {
    display: none;
  }
}

@media (max-width: 900px) {
  .revenue-display {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }
}

@media (max-width: 750px) {
  .revenue-display {
    margin-left: auto;
    margin-right: auto;
    width: 500px;

    > .revenue-grid {
      display: none;
    }

    > .revenue-grid-vertical {
      display: grid;
    }
  }
}

@media (max-width: 600px) {
  .revenue-entry-form {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }

  .revenue-input-grid {
    grid-template-columns: 50% 50%;
  }

  .revenue-display {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }
}

@media (max-width: 400px) {
  .revenue-input-grid {
    grid-template-columns: 100%;
  }
}
