@import '../_variables.scss';

.filter-section {
  > p {
    margin: 0;
    margin-top: 0.25rem;
  }

  > .data-row {
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    > select {
      width: 130px;
      height: 21px;
      margin: 0;
      padding: 0;
      border-radius: 5px;
      background-color: white;
    }

    > input[type='date'] {
      width: 130px;
      height: 19px;
      margin: 0;
      padding: 0;
      border: 1px solid #a9a9a9;
      border-radius: 5px;
      background-color: white;
    }

    > span {
      margin-top: auto;
      margin-bottom: auto;

      > input[type='number'] {
        width: 130px;
        height: 19px;
        margin: 0;
        padding: 0;
        border: 1px solid #a9a9a9;
        border-radius: 5px;
        text-align: right;
      }
    }
  }

  > .button-section {
    text-align: center;
    margin-bottom: 0.5rem;

    > .expense-column-button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.25rem;
      height: 25px;
      width: 100px;
      border-radius: 5px;
      background-color: $primary-green;
      color: white;
      border-width: 0;
    }
  }
}

.vertical-display {
  display: flex;
  flex-direction: column;

  > .data-row {
    display: flex;
    justify-content: space-between;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.total-row {
  display: flex;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.expense-divider {
  width: 100%;
  background-color: $primary-green;
  height: 2px;
}

.expense-category-edit-vertical {
  width: 130px;
  height: 21px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: white;
}

.expense-name-edit-vertical {
  width: 130px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
}

.expense-date-edit-vertical {
  width: 130px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: white;
}

.expense-amount-edit-vertical {
  width: 130px;
  height: 19px;
  margin: 0;
  padding: 0;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  text-align: right;
}

.bad-input {
  border-color: red;
  box-shadow: 0px 0px 3px red;
}

.modify-error-message {
  grid-column-start: 1;
  grid-column-end: 7;
  color: red;
  text-align: center;
  margin-top: 0.5rem;
}

.action-icon {
  :hover {
    cursor: pointer;
  }
}

.dialog-action-icon {
  padding: 0 !important;
  height: 16px !important;
  min-width: 18px !important;
  background-color: white !important;
}

.no-records-found {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
