@import './_variables.scss';

header {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100vw;
  background: linear-gradient($primary-yellow, $primary-green);
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px $box-shadow-color;
  // animation: 3s slide-down forwards;
  // top: -100px;
  // position: absolute;
}

// @keyframes slide-down {
//   from {
//     top: -100px;
//   }
//   to {
//     top: 0px;
//     position: fixed;
//   }
// }

.website-logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    height: 50px;
    width: 50px;
  }

  span {
    margin-left: 1rem;
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: 0px 0px 5px white;
    color: black;
  }
}

/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 10px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: black;
}

/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
  background: #355454;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/

.bm-menu-wrap {
  position: fixed;
  height: 100vh;
  width: 280px !important;
}

/* General sidebar styles */

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 280px;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  padding-top: 0.8em;
  height: auto !important;
}

/* Individual item */

.bm-item {
  display: inline-block;
  color: white;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: right;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vh;
  top: 0;
}
